target/classes/github-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="01c3db69-cfd4-4cec-b562-9e285720a474" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-jenkinsFlow" doc:id="c5f0ad22-9be6-475f-8521-78012ca1a6b3" >
		<http:listener doc:name="Listener" doc:id="cf244bd3-bcc8-45ff-bdc8-a88dd2958b8e" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value='#["hi Ram"]' doc:name="Set Payload" doc:id="52dab348-b992-48af-9269-803259c26080" />
		<logger level="INFO" doc:name="Logger" doc:id="c694abd1-0859-43f4-bdf2-0210c3249346" message="#[payload]"/>
	</flow>
</mule>
